// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define HOLD_KEYS 10 11 12 13 14 15 16 17 18 19 20 21 28 29 32 33 34 35 36
#define IDLE_MS 150
#define QUICK_MS 175
/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
      quick-tap-ms = <QUICK_MS>;
      require-prior-idle-ms = <IDLE_MS>;
      hold-trigger-key-positions = <HOLD_KEYS>;
      hold-trigger-on-release;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "balanced";
      bindings = <&mo>, <&kp>;
      quick-tap-ms = <QUICK_MS>;
      require-prior-idle-ms = <IDLE_MS>;
      hold-trigger-key-positions = <HOLD_KEYS>;
      hold-trigger-on-release;
    };
  };
};
