// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku
#include "../miryoku/mapping/42/corne.h"

#define KEYS_L K10 K11 K12 K13 K14 K20 K21 K32 k33 K34 
#define KEYS_R K15 K16 K17 K18 K19 K28 K29 K35 K36 K37
#define IDLE_MS 150
#define QUICK_MS 175
#define TAP_MS 280
/ {
  behaviors {
    r_mt: r_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAP_MS>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
      quick-tap-ms = <QUICK_MS>;
      require-prior-idle-ms = <IDLE_MS>;
      hold-trigger-key-positions = <KEYS_L>;
      hold-trigger-on-release;
    };

    l_mt: l_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAP_MS>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
      quick-tap-ms = <QUICK_MS>;
      require-prior-idle-ms = <IDLE_MS>;
      hold-trigger-key-positions = <KEYS_R>;
      hold-trigger-on-release;
    };

    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
  };
};
